<div id="sidebar" style="float: left; width: 30%;">
  <img id="avatar-img" src="<%= user.get('avatar_img') %>"/>
  <br>
  <h2>Details</h2>
  <ul id="user-details">
    <li> <strong>Compensation:</strong> <%= user.get('compensation') %></li>
    <br>
    <li> <strong>Experience:</strong> <%= user.get('experience') %></li>
  </ul>
</div>

<div id="content" style="float: left; width: 60%;">
  <div class="user-general-info">

    <% if (ModelFindrApp.currentUserId === parseInt(user.id)) { %>
      <button id="edit-btn">Edit Profile</button>
      <button id="photo-btn">Upload Photo</button>
    <% } %>

    <div id="exampleDropPane"></div>

    <h1><%= user.get('username') %></h1>
    <ul id="user-gen-info-list">
    </ul>
  </div>

  <div id="about-me">
    <h2>About Me</h2>
    <p>
      <%= user.get('about_me') %>
    </p>
  </div>

  <div id="portfolio">
    <h3>Portfolio</h3> <a class="pf-btn" href="#">View Portfolio</a>
    <ul id="user-portfolio" class="list-inline">
    </ul>
  </div>
</div>
